.post{
display: flex;
align-items: flex-start;
border-bottom: 1px solid var(--conquest-color);
padding-bottom: 10px;
}

.post__body{
    flex: 1;
    padding: 10px;
}

.post__body > img{
    border-radius: 20px;
}

.post__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.icons {
color:rgb(134, 28, 7);
cursor: pointer;
}

.icons:hover{
    color:var(--conquest-color);
    background-color: rgb(237, 243, 242);
    transition: color 400ms ease-out;
}

.post__headerText > h4 {
    font-size: 15px;
    margin-bottom: 5px;
    color: red;
}

.post__headerDescription {
    margin-bottom: 10px;
    font-size: 15px;
}


.post__headerSpecial{
    font-weight: 400;
    font-size: 12px;
    color: #000;;
}
.post__badge{
    font-size: 14px !important;
    color: var(--conquest-color)
}

.post_avatar{
    padding: 20px ;
    color:rgb(134, 28, 7);
}